[2019-10-10 07:24] thomashaensli opened #1 "Landing Page"
HI folks,

we should  discuss at some point how the landing page looks like. my prefs would be to use the model we implemented here:

https://grp.swissartresearch.net/resource/sariApp:Actors
https://grp.swissartresearch.net/resource/sariApp:Objects

with the following structure:

Home [project intro and simple search]

[lists, linkes in the header menue, for]
- Places
- Actor
- Groups
- Art Works

[2019-10-10 07:31] thomashaensli opened #2 "Docs for RDMI"
Hi @ncarboni

I feel we need to document the project more thoroughly. Would you mind adding all relevant  documentation in the read me or so?

Thanks, Th.

[2019-10-10 07:58] matteoLorenzini opened #3 "Repositories hierarchy and structure"
# Folder hierarchy and specification
## research_space_template
[code]
**research_space_template** repo is used to manage the templates developed for the Research Space Platform

* SPARQL: Contains the .rq files with the SPARQL queries used in RS platform
* Project_Template: Contains the template(s) for the Project
* Built_Works_Template: Contains the template(s) for the Built Works

## 3M_Mapping

[2019-10-10 09:43] matteoLorenzini opened #4 "Fix namespace (CRMarchi model)"
For the "Project" mapping  has been used the first release of the CRMarchi model which still miss of a proper namespace. @matteoLorenzini

[2019-10-10 09:44] thomashaensli opened #5 "data transformation for person not language aware"
Hi Nikos.

just checked on the latest data (as of now). I see that the appellation and description (short) are displayed in all four languages though they are the same. Can we do something about it?

See https://rds-dev.swissartresearch.net/resource/?uri=http%3A%2F%2Fgrp.swissartresearch.net%2Fperson%2F49BC8316-FB50-43B3-92BB-09245221E2CC

[2019-10-10 13:41] ncarboni opened #6 "Adding authoring form for bibliographic item"
To add the authoring form for inserting new entries for bibliographic items according to the field marked in the [authoring form]( https://docs.google.com/spreadsheets/d/1CnSej6X_-sQXCIHk43SPAHHB527C1nwrC7WGyGlBfbI/edit#gid=0)

[2019-10-10 13:45] ncarboni opened #7 "Adding authoring form for place"
To add the authoring form for inserting new entries for places according to the field marked in the [authoring form]( https://docs.google.com/spreadsheets/d/1CnSej6X_-sQXCIHk43SPAHHB527C1nwrC7WGyGlBfbI/edit#gid=1164848979)

[2019-10-10 13:53] thomashaensli opened #8 "Outline possible Workpackages/Requirement Definition for next Phase"
1. start from Nikos' proposal and flesh out hat actually needs to be done @thomashaensli  @ncarboni @matteoLorenzini

2. assign priorities

3. send it back to @MinadakisNikos to make an effort estimation

[2019-10-10 15:44] thomashaensli opened #9 "admin accounts"
Hi @MinadakisNikos and @matteoLorenzini

as of now, everyone is working as user 'admin'. We should have personalized accounts, at least  for you two guys (for editing fields etc.)

Can you please set up a personalized with full admin rights for yourself?

[2019-10-16 10:19] MinadakisNikos commented on #1
SmartUp will configure the landing page, and include tables based to semantic table column configuration of Research space, visualizing apart from the subject label, additional attributes according to the entity.

Separate tables will be created for Persons, Groups and Places.

Maybe this task should be assigned to me?

[2019-10-16 10:22] MinadakisNikos commented on #5
Hi Thomas, I mentioned in our call that I did this on purpose to test the visualization compinations (since there is only one language value for this record). It will not be there after the refinement.

[2019-10-16 10:23] MinadakisNikos commented on #7
This is alrady there. We just have to add it to the langing page maybe. https://rds-dev.swissartresearch.net/resource/?uri=http%3A%2F%2Fgrp.swissartresearch.net%2Fplace%2F03E83C70-EA76-4832-80F3-7C111AB84904

[2019-10-16 10:24] MinadakisNikos commented on #8
Just a reminder for this. The ppt is here:
https://drive.google.com/open?id=1aGYbmtBURpn_jV3oKS9I8pHTXqX-_Okp

[2019-10-16 10:27] MinadakisNikos commented on #9
Ok done, my username is nikos and yannis' is yannis :)

[2019-10-16 10:30] MinadakisNikos opened #10 "SmartUp - Create effort estimation"
Create effort estimation after recieving the new requirement.

[2019-10-16 10:31] MinadakisNikos opened #11 "SmartUp - Refine Mappings"
Refine Mappings according to recieved feedback

[2019-10-16 10:32] MinadakisNikos opened #12 "SmartUp - Refine URI Generators"
Refine URI Generators to be homogenous

[2019-10-16 10:33] MinadakisNikos opened #13 "SmartUP - Refine Authoring Forms"
Refine Authoring Forms according to feedback

[2019-10-16 10:33] MinadakisNikos opened #14 "SmartUp - Refine Fields"
Solve possible issues with fields

[2019-10-16 10:34] MinadakisNikos opened #15 "SmartUp - Recreate KB"
Transform and import everything again and test with SPARQL queries

[2019-10-16 10:35] MinadakisNikos opened #16 "SmartUp - Migrate to Github"
Create a local copy of the platform and commit our templates / fields

[2019-10-16 10:38] MinadakisNikos opened #17 "SmartUp - Create a Contract"
Create a Contract for the next period and open issues for:

-Querying (Structured / Simple)
-FC/FRS
-Materializations
-Dynamic Fields and Searching
-Bibliography Authoring
-Group Authoring
-Faceting
-Upgrade to RS v 3.2

etc

[2019-10-16 10:39] MinadakisNikos opened #18 "SmartUp - Create an App"
Create an App for SARI to reuse maybe in CHORD

[2019-10-16 10:40] MinadakisNikos opened #19 "SmartUp - Rework Vocabularies"
Rework the vocabularies / external information enrichment to be more efficient

[2019-10-16 11:44] ncarboni commented on #7
true

[2019-10-16 11:44] #7 closed

[2019-10-16 22:08] matteoLorenzini commented on #9
Ok, I have created mine.. I think we can consider this issue as solved.

[2019-10-16 22:08] #9 closed

[2019-10-25 06:42] matteoLorenzini commented on #8
Here a bullet list about the activities I'm working on:
* Quality control
    * Check and align the mapping stucture  respect to the definitions provided by CRMarchi
    * Filed(s) refinement (Ouvre, Project and Built Work)
* Mapping
    * Mappings implementation (3M)
    * Data transformation (X3M)
    * Data ingestion (RS)
* Usability
    * UX/UI map
    * Template and fileds definition (Ouvre,

[2019-10-30 13:58] ncarboni commented on #2
Hi @thomashaensli ,
I kept it light with all the necessary input for the reader. If more information is needed I suggest to use the internal wiki of the repository. I close, feel free to reopen

[2019-10-30 13:58] #2 closed

[2020-01-13 13:16] #4 closed

[2020-01-14 10:09] #17 closed

[2020-01-14 10:09] #10 closed

[2020-01-14 10:20] ncarboni opened #20 "old data in RDS-DEV"
The data present in RDS-DEV comprises several old datasets with the old prefix that need to be cleaned. Easy to check with :

[code]

[2020-01-14 10:24] ncarboni opened #21 "X3ML mappings"
The mapping files present in the [google drive folder](https://drive.google.com/drive/folders/1clcMy8xR3cW25Qbgcw0BuLQrLmfNdQ8Q) are old and do not correspond to the current mappings.
They need to be updated in order for me to review modelling.

Let's keep the old ones in a folder (e.g. "old mappings") and create a new ones.

edit: create new ones and add them on github

[2020-01-14 11:09] ncarboni opened #22 "Data missing"
Some information pertaining to persons and groups uploaded to the[files list](https://workspace.digitale-diathek.net/confluence/pages/viewpage.action?pageId=60653625) have not been transformed/added to RDS-DEV.

Examples:

https://resource.swissartresearch.net/group/C9315B13-EF18-4197-8A96-01C9DC3A8A2E
https://resource.swissartresearch.net/person/495AD572-DB1F-40FC-AD7E-51CF2B63235E

List will be

[2020-01-20 09:38] ncarboni commented on #8
The WP requirements seemed to be done. I close, reopen if necessary

[2020-01-20 09:38] #8 closed

[2020-01-20 09:48] ncarboni commented on #16
**Task Update**
On 18 Jan 2020, at 14:41, Yannis Marketakis wrote:

[2020-01-20 09:55] ncarboni opened #23 "Instances without labels"
A series of instances are present in the KB without labels (or any relevant information), because they are only recipient (object in <s,p,o>). We should hide those instances from the carousel and search of the KB.

Example of instance are the tgn identifiers.

[2020-01-20 10:02] ncarboni opened #24 "Place in carousel should display appellation as label"
Places in the carousel do not display the E42 Appellation but the appellation of an identifier (we should also review the mapping).
Example:
Nísoi Aiyaíou, Ellás, Europe, World in the image below
<img width="1485" alt="carousel" src="https://user-images.githubusercontent.com/5669838/72717265-ff604b00-3b73-11ea-94b9-8b57590b6ab7.png">

is the place identifier used in the the [corresponding record](

[2020-01-20 10:07] ncarboni opened #25 "Home link in the page breadcrumb does not work"
when visualising a record, the home link in the page breadcrumb does not work. See image below

<img width="1859" alt="breadcrump" src="https://user-images.githubusercontent.com/5669838/72717714-e015ed80-3b74-11ea-9c24-bd62cb5b0b65.png">

[2020-01-20 12:10] ncarboni commented on #18
is this still on?
I close, feel free to reopen

[2020-01-20 12:10] #18 closed

[2020-01-20 12:12] ncarboni commented on #5
Still on, I will add to the "LODLAM todo" milestone

[2020-01-20 12:17] ncarboni commented on #11
To be incorporated and done after issue #21

[2020-01-20 12:17] #11 closed

[2020-01-20 12:17] ncarboni commented on #21
Linked with issue #11

[2020-01-20 12:24] ncarboni commented on #19
Do you need any feedback documentation-wise from my side for this?

[2020-01-20 15:47] ncarboni opened #26 "New ETL"
A new ETL has been developed and should be soon implemented.

- [ ] Information about where data is going to be uploaded should be provided by @thomashaensli on [confluence](https://workspace.digitale-diathek.net/confluence/display/RDMI/ETL)

- [ ] The structure of the export data should be modelled in XSLT by @matteoLorenzini

[2020-01-20 15:51] ncarboni opened #27 "Data Partitioning"
Necessary to implement the use of LDP container in the KB.
It is possible to get support from yuri that implemented it in the [aat KB](http://aat.swissartresearch.net).
To do in parallell with new ETL

[2020-01-20 15:52] ncarboni commented on #26
to do in parallel with issue #27

[2020-01-21 15:39] ncarboni opened #28 "Update instance"
Update the instance of RDS-DEV with the newer version of Metaphacts

[2020-01-21 15:39] ncarboni commented on #28
linked in #16

[2020-01-23 08:36] thomashaensli opened #29 "UI Templating"
Dear all, as just mentioned, I was not able to implement footer.hbs, header.hbs etc.

@MinadakisNikos would you mind to clarify with Metaphacts where UI Templating need to be placed?

Thanks, Thomas

[2020-01-23 08:42] thomashaensli opened #30 "Setup new VM"
Host: sari2.ethz.ch

News to be added

[2020-01-23 08:59] ncarboni commented on #30
linked with issue #28

[2020-01-23 09:02] ncarboni commented on #28
@thomashaensli will setup a new VM (issue #30 )

[2020-01-23 09:13] ncarboni commented on #21
edited after 23/01 meeting: to add mapping files on github

[2020-01-23 16:29] MinadakisNikos commented on #25
It has been resolved, please check it and let us close it.

[2020-01-23 16:37] MinadakisNikos commented on #24
Please Test.

For the cases that are not labels, the issue will be solved after the hiding of these according to issue #23

[2020-01-23 16:44] MinadakisNikos commented on #23
Done in the carousel, will be solved in general with the new mappings. Please Test.

[2020-01-23 17:20] MinadakisNikos commented on #21
Persons and Groups mappings refined and uploaded here:

https://drive.google.com/drive/folders/1cNWcr9ynD9NDDSQwjtf4EXIVpkaKDsiW

(Will also commit to git)

[2020-01-23 17:22] MinadakisNikos commented on #22
It is not a bug. We never had transformed and import everything due to the big size, as discussed in previous calls. Will do it this time. Do you think we should close it?

[2020-01-23 17:38] MinadakisNikos commented on #5
Test it. Solved.

[2020-01-24 11:04] ncarboni commented on #25
Hi great, works everywhere except from an instance of  built work(e.g. [example](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fwork%2F0009C105-F7BF-4860-A95E-5B790A0F545C)  ). But probably @matteoLorenzini has control over it

[2020-01-24 11:15] ncarboni commented on #5
@MinadakisNikos seems to appear in the instance of Places. For [example](https://rds-dev.swissartresearch.net/resource/?uri=http%3A%2F%2Fresource.swissartresearch.net%2Fplace%2FF49B2EDD-4D0A-4E02-839A-AE09CB876820).

[2020-01-24 11:18] MinadakisNikos commented on #5
Ok the ticket was only for persons so I did not look at places. It is
solved now

On Fri, 24 Jan 2020 at 13:15, Nicola Carboni <notifications@github.com>
wrote:

[2020-01-24 11:18] ncarboni commented on #23
Seems to be resolved. Great, thanks! I will close and reopen if something does not look right

[2020-01-24 11:18] #23 closed

[2020-01-24 11:19] ncarboni commented on #21
Thank. I will check them out and in case open new issues.

[2020-01-24 11:25] ncarboni commented on #5
Last (sorry, noticed now). Also the parent place (P89) for places have the same issue. Example [here](https://rds-dev.swissartresearch.net/resource/?uri=http%3A%2F%2Fresource.swissartresearch.net%2Fplace%2F4793FC72-5C5E-4968-9A93-F9ADF7162B14)

[2020-01-24 11:31] MinadakisNikos commented on #5
Its not the same issue. This is another phenomenon because germany has two
URIs one with the UUID coming from you and another one with the tgn id.
Maybe we should keep only one of these as a direct link.

On Fri, 24 Jan 2020 at 13:25, Nicola Carboni <notifications@github.com>
wrote:

[2020-01-24 13:10] ymark commented on #20
The reason for these data was the existence of some (testing) data found under the namedgraph <http://www.bigdata.com/rdf#nullGraph>

The instances in the namedgraph were "orphan" in the sense that the only information attached to it was the rdfs:label (which in some cases was erroneous as well).
The namedgraph has been removed.

@ncarboni you are welcome to test.

[2020-01-25 10:26] ncarboni commented on #20
@ymark from initial tests seems perfect
! will do further testing, but in the meanwhile I close

[2020-01-25 10:26] #20 closed

[2020-01-25 10:27] ncarboni commented on #22
feel free to close it as soon as you transform/update, so we know where we are at :-)

[2020-01-25 10:29] ncarboni opened #31 "Builtwork icon"
To change the icon for builtwork

[2020-01-25 10:39] ncarboni opened #32 "Show "more from" only when id is present"
Do not know if possible, but I try to ask.
For an instance, can we have the tab "more from" (Getty| wikidata) when the corresponding identifier is present?

I think no, but I thought would be worth asking :-)

[2020-01-25 10:48] ncarboni opened #33 "Mapping Identifier Source"
I would eliminate this part (for each id: wikidata, ulan etc.) unless it breaks something. It appears to me that it does not add any information. It was specifically thought for historical sources of a name/id, but in this case it does not fulfil the purpose.

https://github.com/swiss-art-research-net/rdmi/blob/bdb268091767ea36485fad6ba37f4cdb4dfae3dd/3M_Mapping/Reference_data_model_mapping/smartu

[2020-01-27 08:02] ymark commented on #32
Done

[2020-01-27 08:41] ymark commented on #31
Changed the icon that is shown in the carousel with the one shown for each instance.
@ncarboni  If you have any thoughts about an alternative icon feel free to propose.

[2020-01-27 08:55] ymark commented on #33
No, it does not break anything so it can be safely removed.
The rationale for having it there is that it provides a resolvable URL to other sources (i.e. GND, wikidata, etc.) that shows more information about the entity of interest (the corresponding person in this case) in a human-readable html page (the more from... tabs show some of these information).

@ncarboni  the choice is yous :-)

[2020-01-27 16:22] ncarboni commented on #32
great!

[2020-01-27 16:22] #32 closed

[2020-01-27 16:29] ncarboni commented on #33
@ymark can we not build it up from the E42 identifier for it? in case it requires some time we can easily move it to MVP1, my major concern now (lodlam) is to not show the two ids next to each other in the section. maybe we can quickly use this fix? what do you think?

[2020-01-27 16:36] ncarboni commented on #31
@ymark great! i had sent one to @matteoLorenzini, he will probably change it in the near future. in the meanwhile, let’s close here

[2020-01-27 16:36] #31 closed

[2020-01-27 16:37] ncarboni commented on #24
should be ok now, thanks !

[2020-01-27 16:37] #24 closed

[2020-01-28 09:09] ymark commented on #33
We can always built it up from the E42, however in this case the information will only be visible from the corresponding templates, (you can find it by browsing the KB through SPARQL).

We can either remove it from the mappings and as evident it won't be shown, or we can simply remove the corresponding fields from the template.

[2020-01-28 12:00] ncarboni commented on #33
Ok, so it is not anymore a mapping problem, but just a visualisation problem. I close here and open a new issue

[2020-01-28 12:00] #33 closed

[2020-01-28 12:07] ncarboni opened #34 "Redundant information in identifier section"
The identifier section in the person template, display the same identifiers twice (although in two different form).
Example are [here](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5) and [here](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2F2ECC

[2020-01-28 12:08] ncarboni commented on #34
Previously discussed in issue #33

[2020-01-28 12:09] ncarboni commented on #21
Added them on git. Closing

[2020-01-28 12:13] ncarboni commented on #5
To review mappings @ncarboni

[2020-01-28 17:03] ncarboni commented on #21
Reopen, missing mapping of places?

[2020-01-29 12:23] MinadakisNikos commented on #21
Yes persons and groups had been added, persons added today since we refined it this week. Feel free to test :)

[2020-01-29 14:37] ncarboni commented on #21
Great! Just to be sure to not start from the wrong side: the Place in the RDS-DEV present now are all generated by the mapping in drive using the file [here](https://workspace.digitale-diathek.net/confluence/display/RDMI/1.+Place) as base for the transformation? @MinadakisNikos @ymark

[2020-01-29 15:07] MinadakisNikos commented on #21
It was based on the previous version of it. The new RDFs are  being produced now.

[2020-01-29 15:24] ncarboni opened #35 "WKT"
This does not produce WKT really. The structure should be expressed according to the format

example:

I do presume we do need one link just having 4 value:
constant "POINT("
xpath  plSubstance_tgn_lat
xpath plSubstance_tgn_long
constant ")"

https://github.com/swiss-art-research-net/rdmi/blob/92add6fb2f43e29e4d9ed49dc2ebcb12b1502459/3M_Mapping/Reference_data_model_mapping/smartup/mappings-Place.x

[2020-01-29 15:24] ncarboni commented on #21
ok, just made a note about the mapping in issue #35 . Hope in time for uploading them :-)

[2020-01-29 15:31] ncarboni opened #36 "Map component for Places"
Adding a map component in the Places template

documentation:
https://wikidata.metaphacts.com/resource/Help:SemanticMap

To be further discussed after February

[2020-01-30 16:54] ncarboni opened #37 "X3ML export JSON-LD"
Obtain JSON-LD from x3ml mapping.

To be discussed further

[2020-01-31 15:40] #25 closed

[2020-01-31 16:39] ncarboni commented on #35
done

[2020-01-31 16:40] ncarboni commented on #34
ULAN is OK. Closing

[2020-01-31 16:40] #34 closed

[2020-01-31 16:46] ncarboni commented on #5
Two identified problem in the call of 31 Jan 2020:

* biography in person instance presents different languages even though it is the same. Example [here](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2F75A72225-E0DE-4053-A512-02473AA1ED71)
* Place name should present values from:
   + plIdentifier_nameGeneric
   + plIdentifier_nameEn
   +

[2020-01-31 16:48] ncarboni opened #38 "Search display TGN URI"
As Discussed 31 Jan 2020, the current search does display the TGN uri when searching for a place name.
Possible quick fix is to hide the label from placename

[2020-01-31 16:49] ncarboni commented on #36
To be removed from Place

[2020-02-01 10:42] ncarboni commented on #35
Reopened. The instance generator currently produce xsd:string. This is due to the mapping use of Literak as instance generator
[code]
The generator TypedLiteralGen should be used.
Current data in knowledge base should also be updated

[2020-02-02 15:34] ncarboni opened #39 "Support user authorisation"
Implement Authorising so that each group/project can author "own" records only.
It is possible to get support from yuri that implemented it in the [aat KB](http://aat.swissartresearch.net).

[2020-02-02 15:35] ncarboni commented on #1
Assigned to @MinadakisNikos @ymark . To be defined with @thomashaensli what exactly we do need.
Changed the title to "Application pages for entities" and splitted the issue of Landing page and Application pages.

[2020-02-02 15:39] ncarboni commented on #1
List of pages:

- places
- persons
- groups
- artworks
- oeuvres
- projects
- builtworks
- events
- bibliographic items

Documentation about the faceting requirements and the columns/labels for each entity type can be reviewed on Confluence [here](https://workspace.digitale-diathek.net/confluence/display/RDMI/WP+6%3A+Application+pages).

[2020-02-02 15:44] ncarboni opened #40 "Landing Page redesign"
Redesign the landing page. Necessary to discuss if:

- we keep the carousel
- what entities should be visualised.

Initially the task should be be discussed with @matteoLorenzini and @thomashaensli and afterwards,  when clarity is reached assigned to @MinadakisNikos and @ymark

[2020-02-02 15:48] ncarboni opened #41 "Static Pages"
Creation of static pages for displaying fixed documentation about the project:

List of current pages:

- about
- roadmap
- acknowledgments
- people
- [..]

Example of a static page can be found [here](https://grp.swissartresearch.net/resource/sariApp:About)

@thomashaensli @matteoLorenzini @ncarboni are responsible for developing the text
@ymark @MinadakisNikos for creating the static page.

If n

[2020-02-02 16:01] ncarboni opened #42 "Record Export"
Create a button for exporting the triples (preferably in TTL) of the visualised record.

To be discussed: how many levels down we should include in the export. Let's consider the record

[code]

Should we only report the first level and display the statements appearing on the MP page? [example](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%

[2020-02-02 16:06] ncarboni opened #43 "Title page of the entity"
The title page of the entity should report the full name (without the language) and not the identifiers.

If we consider this [example](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5) we can easily see that the page window report the person identifier followed by "[researchspace]"

it is possible to cha

[2020-02-02 16:08] ncarboni opened #44 "Visualise name in page breadcrumb"
Each record page should display in the page breadcrumb not the identifiers, [as it is done now](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5), but the full name of the person without the language tag.

[2020-02-02 16:10] ncarboni commented on #42
to be discussed with @thomashaensli
- if the export should be in CSV (as I see in the requirements) or in TTL
- if we need to use SPARQL to API component or not

[2020-02-02 16:16] ncarboni opened #45 "Authoring form"
Current authoring form are embedded [here](https://workspace.digitale-diathek.net/confluence/display/RDMI/Authoring+form) and present information about the field necessary for the following entities:

+ person
+ group
+ place
+ bibliographic item
+ built work

we need to review the fields ( @thomashaensli @ncarboni @matteoLorenzini ) and align them with current authoring form (@ymark @MinadakisNik

[2020-02-03 12:47] ymark commented on #35
The mappings/generators have been updated

[code]

[2020-02-04 00:35] thomashaensli commented on #30
Development VM
- sari1.ethz.ch

Productive VM:
- sari2.ethz.ch (online since 1/28)

See https://workspace.digitale-diathek.net/confluence/x/BITmAw for distribution of instances to

[2020-02-04 00:35] #30 closed

[2020-02-04 00:45] thomashaensli opened #46 "Migrate v2.x instances to v3.3"
Hi Nikos,
here's the list/priority to migrate our v2.x instances to v3.3 for now:

- http://rds-dev.swissartresearch.net/ -> https://rds.swissartresearch.net/
- http://grp.swissartresearch.net/ -> https://grp-v3.swissartresearch.net/
- https://fw.swissartresearch.net/ -> https://fw-v3.swissartresearch.net/
- new -> http://ed.swissartresearch.net/

All these are going to live on sari2.ethz.ch. Deta

[2020-02-04 16:55] MinadakisNikos commented on #36
Should we remove it or just there for the video, and not click on it?

[2020-02-04 16:55] MinadakisNikos commented on #38
Done. Please test

[2020-02-04 16:57] MinadakisNikos commented on #5
Fixed. Test please

[2020-02-04 16:57] MinadakisNikos commented on #22
Completed. Please test

[2020-02-04 16:59] MinadakisNikos commented on #46
Hey Thomas,

will do it right after your demo/video to be sure nothing will be broken. Just let us know when you are done so we can start the process.

[2020-02-04 17:00] MinadakisNikos commented on #35
To be tested

[2020-02-04 17:00] MinadakisNikos commented on #21
Test please

[2020-02-04 18:31] ncarboni commented on #5
great 👍

[2020-02-04 18:31] #5 closed

[2020-02-04 18:31] ncarboni commented on #36
better remove it for now :-)

[2020-02-04 20:59] ncarboni commented on #35
no graph is necessary and the type should be geo:wktLiteral
Tried to adjust it:
[code]

[2020-02-04 21:00] ncarboni commented on #46
Don't know if thomas will see this. But he probably will have another presentation on Friday. How much time do you need for migrating the instances? Probably better to do it next week

[2020-02-04 21:04] ncarboni opened #47 "upload XML data"
@MinadakisNikos @ymark would you mind uploading the XML used for the transformation (we need them as target for providing the new data) [on the same google folder](https://drive.google.com/drive/folders/1cNWcr9ynD9NDDSQwjtf4EXIVpkaKDsiW) we do use for the x3ml (or same space)

[2020-02-04 21:05] ncarboni commented on #38
yes. thanks!

[2020-02-04 21:05] #38 closed

[2020-02-05 07:59] ymark commented on #47
Done. Uploaded in folder [Input XML](https://drive.google.com/drive/folders/1RiC2krbsnVr6Iyk76t_xFWld-jvl-5_1)

[2020-02-05 08:00] ymark commented on #46
It's not actually the time that is needed to do the migration.
We would like to avoid strange circumstances and problems since this is a migration between different major versions (from 2.x to 3.3)

[2020-02-05 08:02] ymark commented on #36
instead of removing it, I hid it (added within html comments)

[2020-02-05 09:42] ymark commented on #35
Updated the mapping accordingly, re-transformed and re-uploaded the data.
@ncarboni  please check.

[2020-02-06 18:30] matteoLorenzini opened #48 "Missing icons on landing page"
On the landing page the top left icon and the bottom left icon are missing

[2020-02-07 10:07] ymark commented on #48
The headers and footers were updated by @thomashaensli a few days ago (check #29).
It seems that that the paths for the corresponding logos were not added.

We can fix it as well. @thomashaensli let us know if you have any logos we can use for this.

[2020-02-26 08:31] ncarboni commented on #35
Perfect!
Data need to be updated, but mapping is great. I am closing it

[2020-02-26 08:31] #35 closed

[2020-02-26 08:32] ncarboni commented on #47
great! Thanks

[2020-02-26 08:32] #47 closed

[2020-02-26 08:33] ncarboni commented on #36
even better, we are gonna reuse it later :-)
Thanks!

[2020-02-26 08:33] #36 closed

[2020-02-26 08:35] ncarboni commented on #48
<img width="528" alt="sari" src="https://user-images.githubusercontent.com/5669838/75326597-914e2880-5883-11ea-90bd-de941f096e4b.png">

This is the logo :-)
Thanks!

[2020-02-26 08:36] ncarboni commented on #21
Everything seems fine here! thanks :-)

[2020-02-26 08:36] #21 closed

[2020-02-26 08:49] ncarboni commented on #22
Does seems to not everything is fully transferred. The instance:
https://resource.swissartresearch.net/group/C9315B13-EF18-4197-8A96-01C9DC3A8A2E
does not seems to be [there](https://rds-dev.swissartresearch.net/sparql#query=PREFIX+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0APREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX+crm%3A+%3Chtt

[2020-02-26 08:51] ncarboni commented on #26
To be discussed next week (02 to 05).

[2020-02-27 11:01] ymark commented on #48
Done. Please check

[2020-02-27 11:10] ncarboni commented on #48
Great, would you mind adding it also in the footer?

[2020-02-27 11:27] ymark commented on #48
Ah, I didn't notice that. Done

[2020-02-27 12:32] #48 closed

[2020-02-28 11:43] ymark commented on #22
The resource wasn't in the generated XML data (not sure why), so we re-run the XML generation, as well as the transformation to RDF and reloaded the data on the platform.

In addition, we've found some minor issues in the generator policy and the mappings for groups and updated them accordingly.

@ncarboni please check.

[2020-03-02 15:32] ncarboni opened #49 "External identifiers"
Create rule for the definition of external identifiers such as
https://www.wikidata.org/wiki/Q124151

Take into account:

+ skos:exactMatch requires skos:concept
+ owl:sameAs should not be used (however it is used: see [this example](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5))
+ use P1 -> E42 is no

[2020-03-02 15:37] ncarboni opened #50 "Representation and images"
The property P138 representation link the entity to a thing. Check the mapping and fix it as

E21 (or alternative)-> P138 -> E36

[code]

Example here: https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5

[2020-03-02 15:39] ncarboni opened #51 "Both Group and Actor"
The record
https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fgroup%2F3E1F990A-2368-4B81-9B05-10675779E790

is both a Group and Actor

[2020-03-02 15:40] ncarboni commented on #51
No others are both group and actors

[2020-03-02 15:41] ncarboni opened #52 "Group type"
The type assigned to a group ( the two choice are group or corporate body in the original file) should be:

Corporate body: http://vocab.getty.edu/aat/300386361
Group: http://vocab.getty.edu/aat/300025948

Ex:

[code]

[2020-03-02 15:50] ncarboni opened #53 "Missing modelling for groups"
Missing the modelling of

+ _02_actor_existence_birthDate_p82a
+ _02_actor_existence_birthDate_p82b
+ _02_actor_existence_deathDate_p82a
+ _02_actor_existence_deathDate_p82b

[2020-03-02 15:55] ncarboni opened #54 "Not modelled: Floruit for groups"
the floruit does not appear to be modelled

[2020-03-02 15:57] ncarboni opened #55 "Missing Nationalities in the modelling of groups"
The nationalities for the group uploaded here https://workspace.digitale-diathek.net/confluence/pages/viewpage.action?pageId=60653625 (grp-groupsPartA_nationalities.xlsx) has not been modelled.

The modelling should be:

E74 → P107i → E74 -> P2

Ex:

[code]

So we use the UUID of the  _01_actor_nameclass_identifierUUID identify the group (present in the KB), while the value of _03_actor_social_nat

[2020-03-02 16:04] ncarboni opened #56 "URN UUID for person"
Present 20249 records of person identified by a urn uuid

[2020-03-02 16:06] ncarboni commented on #22
all the group records are there. Need to fix the modelling of some information but I will open another issue. close this one in the meanwhile :-)
Thanks!

[2020-03-02 16:06] #22 closed

[2020-03-02 16:50] ncarboni commented on #56
UUID list here:
[actor-uuid.tsv.zip](https://github.com/swiss-art-research-net/rdmi/files/4276672/actor-uuid.tsv.zip)

@ymark @MinadakisNikos Do you know where they come from?

[2020-03-03 15:54] ncarboni commented on #50
P138 not in the mapping. A couple of question:
+ It is a E70 Things or it is just RS?
+ Can we have E36?
+ They are all coming from WD? (in case we can add further statements about the provenance)

[2020-03-03 16:15] ncarboni commented on #51
It is SARI. Should be a Group (corporate body) P2  http://vocab.getty.edu/aat/300386361

[2020-03-03 16:20] ncarboni commented on #52
p.s. @ymark after the changes and issue I assigned today do not waste time re-uploading the data. I have a couple of other issues I need to properly document!

[2020-03-03 16:23] ncarboni commented on #53
Should be mapped using the patterns from here

https://docs.swissartresearch.net/et/group/#existence (formation and dissolution)

[2020-03-04 09:58] ncarboni opened #57 "Template for death and birth not working"
The templates for death and birth do not seems to work.

Ex:

https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2F68BB1C99-3C70-4873-BF46-912138444268%2Fdeath

https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2F68BB1C99-3C70-4873-BF46-912138444268%2Fbirth

[2020-03-04 10:12] ncarboni opened #58 "Redirect uri -> instance"
Do not know if this is possible to achieve in MP or not, but would love to see the redirect from the instance URI to the actual page describing such instance in MP.

Example:

A group is identified by the URI [https://resource.swissartresearch.net/person/68BB1C99-3C70-4873-BF46-912138444268](https://resource.swissartresearch.net/person/68BB1C99-3C70-4873-BF46-912138444268). This URI does point to

[2020-03-04 10:20] ncarboni opened #59 "Missing Nationalities in the modelling of person"
The nationalities for the person uploaded here https://workspace.digitale-diathek.net/confluence/pages/viewpage.action?pageId=60653625 (grp-personsPartA_nationalities.xlsx) has not been modelled.

The modelling should be:

E21 → P107i → E74 -> P2

Ex:

[code]

So we use the UUID of the  _01_actor_nameclass_identifierUUID identify the person ( present in the KB), while the value of _03_actor_social

[2020-03-04 10:34] ncarboni opened #60 "Missing mapping of fullbio for entity person"
The field _05_actor_documentation_fullbio_de has not been mapped in the X3ML. The value are missing.

Should be added and distinguish from the short by using the types

[code]

[2020-03-04 10:42] ncarboni opened #61 "Missing Floruit in the modelling of Persons"
The Floruit for the person uploaded here https://workspace.digitale-diathek.net/confluence/pages/viewpage.action?pageId=60653625 has not been modelled.

The modelling should be done according to [https://docs.swissartresearch.net/et/persons/#activities](https://docs.swissartresearch.net/et/persons/#activities) (Floruit - Earliest date, Floruit - Latest date, Floruit Place).

The element  "_export_

[2020-03-04 15:51] ncarboni opened #62 "Group template"
The template for group needs to be done in order to look similar to the one of person. Currently it looks like

https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fgroup%2F004C3D1B-C4FF-4898-A925-008932E12660

[2020-03-04 16:02] ncarboni opened #63 "owl same as"
We do have several records who use owl:sameAs (list attached) to link with external identifiers. I would love to avoid it (too strong). Do you see any possible problem with it?
If we implement L54 as in issue #49 do you still need it?

[2020-03-05 11:58] ymark commented on #62
Created first draft of the template for groups

[2020-03-05 12:10] ymark opened #64 "Εxternal identifiers with non-resolvable URLs"
This happens because the generator policy used should be updated.
For example the Wikidata URL for https://resource.swissartresearch.net/group/004C3D1B-C4FF-4898-A925-008932E12660 is https://www.wikidata.org/wiki/https%3A//www.wikidata.org/wiki/Q463303 instrad of https://www.wikidata.org/wiki/Q463303

For sure, this appears on Groups. To check if it occurs in other entities as well.

[2020-03-05 13:48] MinadakisNikos commented on #64
Done. Please Test

[2020-03-05 13:57] MinadakisNikos commented on #61
Done. Please check

[2020-03-05 13:59] MinadakisNikos commented on #54
Done. Please Check

[2020-03-05 14:04] MinadakisNikos commented on #60
Done. Please Check

[2020-03-05 14:11] MinadakisNikos commented on #59
Done. please test

[2020-03-05 14:11] MinadakisNikos commented on #55
Done. Please test

[2020-03-05 14:15] MinadakisNikos commented on #53
Was already done. Please check again.

[2020-03-05 14:26] MinadakisNikos commented on #51
This happens because from the persons mapping SARI is an identifier provider.

The attribute assignment has range Actor.

This is why it has two types which is not an issue from our point of view since every Group is a subclass of Actor. TBD

[2020-03-05 14:26] MinadakisNikos commented on #52
Done Please Check

[2020-03-05 14:29] MinadakisNikos commented on #58
This means that a server handling https://resource.swissartresearch.net needs to be installed in order to resolve the URIs

[2020-03-05 14:32] MinadakisNikos commented on #57
These templates are not working because they have been altered by someone (not from SmartUp). Did you copy these templates from another system?

[2020-03-05 14:44] MinadakisNikos commented on #56
This is not coming by the mappings, it should be an old issue that is fixed now. We will check for sure after the re-importing of the data.

[2020-03-05 14:46] MinadakisNikos commented on #50
This is not coming by the data and the mappings because the images were harvested by us using an external source. We will update the harvesting software to adopt your suggestion.

[2020-03-05 14:47] MinadakisNikos commented on #46
We are waiting for root access on sari2 VM. (already informed @thomashaensli through email)

[2020-03-05 14:48] MinadakisNikos commented on #44
it seems fixed

[2020-03-05 14:52] MinadakisNikos commented on #43
The name is visible without the tag. Now regarding the [Research Space] we should ask metaphacts how to do so.

[2020-03-09 07:31] ncarboni commented on #44
Leave it open because it is still present on the built work, but I think @matteoLorenzini is workin on it!

[2020-03-09 07:32] ncarboni commented on #58
thanks! To be discussed further in the meeting today ( 9 Mar 2020 )

[2020-03-09 07:35] ncarboni commented on #57
It is the first time I even click on them :-) Maybe they have been copied before.
@matteoLorenzini are you tweaking them maybe?

I'òll leave it open for discussion and propositions on how to fix it

[2020-03-09 08:09] ncarboni opened #65 "Missing mapping fullbio for entity Group"
The field _05_actor_documentation_fullbio_de has not been mapped in the X3ML. The value are missing.

Should be added and distinguish from the short by using the types

[code]

Similar to issue #60

[2020-03-09 08:10] ncarboni commented on #60
Great. Uploaded on github and changed this
https://github.com/swiss-art-research-net/rdmi/blob/3b2461584dd03697325f43b82958dffaa28ab410/3M_Mapping/Reference_data_model_mapping/smartup/mappings-Person.x3ml#L864
On both fullbio_en and fullbio_de

Probably is better to keep the mapping in sync on git, in order to visualise and comment always the last version.
Open another issue for the same problems

[2020-03-09 08:12] ncarboni commented on #65
Actually changed it myself. The X3ML of Groups in github is the current one.

[2020-03-09 08:12] #65 closed

[2020-03-09 08:13] ncarboni commented on #56
👍 Gonna keep it open as a reminder for verification

[2020-03-09 08:15] ncarboni commented on #52
Seems fine by me!

[2020-03-09 08:16] ncarboni commented on #65
@MinadakisNikos @ymark to change the mapping from your side

[2020-03-09 08:24] ncarboni commented on #53
I cannot see it in the current data, nor in the current mapping of groups (the newer one). I checked and the records are present in the transformed XML.

Example:
[https://rds-dev.swissartresearch.net/resource/?uri=https://resource.swissartresearch.net/group/C9CB7819-714F-4C89-BC4C-0C77EFF97599](https://rds-dev.swissartresearch.net/resource/?uri=https://resource.swissartresearch.net/group/C9CB7819

[2020-03-09 08:43] ncarboni commented on #50
Great, thanks!

[2020-03-09 08:58] ncarboni commented on #51
Checking the data I think that the issue comes from the fact that <https://resource.swissartresearch.net/group/3E1F990A-2368-4B81-9B05-10675779E790> is both an identifier provider and listed as _01_actor_nameclass_identifier_identifierUUID, therefore result also a E39 for the range of E15 in the mapping of the local identifier:

https://github.com/swiss-art-research-net/rdmi/blob/48d1a067565f33366

[2020-03-09 09:18] ncarboni commented on #26
The new ETL timeline is 2 weeks (around 23/02). Task followed by @matteoLorenzini

[2020-03-09 09:28] ncarboni opened #66 "Redesign: new instance button/link"
Currently it is possible to add new instances only by navigating to an existing one.
A button or link should be created in the top navigation bar in order to be accessible from everywhere.
Problem to foresee:

+ a modal window to choose entity
+ properties to be shown in the "new user navigation window".

linked with issue #40

[2020-03-09 09:31] ncarboni opened #67 "Redesign and permission: who can see authoring form"
Currently not logged user can see the authoring form for each instance. Would be possible to restrict the view to only the users who have the right to do so (the one with SPARQL INSERT)?

Example [here](https://rds-dev.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5)

[2020-03-09 10:06] thomashaensli commented on #67
Limit to users that have SPARQL Update rights. See http://grp.swissartresearch.net for the machanism.

[2020-03-09 10:07] thomashaensli commented on #66
same here: we can limit the authoring tab to users with SPARQL UPDATE priviledges

[2020-03-09 10:26] MinadakisNikos commented on #57
Copy a paste another template that works

[2020-03-10 07:39] ncarboni commented on #54
@MinadakisNikos can you please upload the XML data about floruit to google drive? Once done I can check it out

[2020-03-10 07:40] ncarboni commented on #61
@MinadakisNikos can you please upload the XML data about floruit to google drive? Once done I can check it out

[2020-03-10 09:11] ncarboni commented on #56
I verified and it is coming by the mapping of Groups and places.
In the case of groups It was creating urn for places when not present (because of the instance generator was URIorUUID with xpath). I added a

[code]
in all the cases we had

[code]
In case of Places. it was was a similar problem but for identifier.
Person was ok.

Everything is fixed now. I am going to re-upload them on github soon

[2020-03-10 09:29] ncarboni commented on #56
done. new file in https://github.com/swiss-art-research-net/rdmi/tree/master/3M_Mapping/Reference_data_model_mapping/smartup @MinadakisNikos @ymark

[2020-03-10 09:29] #56 closed

[2020-03-10 09:54] ncarboni commented on #59
Added the property number to the mapping, eliminated the gender type (?), took out the uri constant and add link it to the id of the nationalities. New mapping in https://github.com/swiss-art-research-net/rdmi/tree/master/3M_Mapping/Reference_data_model_mapping/smartup @MinadakisNikos

[2020-03-10 09:54] #59 closed

[2020-03-10 09:54] ncarboni commented on #55
Added the property number to the mapping, eliminated the gender type (?), took out the uri constant and add link it to the id of the nationalities. New mapping in https://github.com/swiss-art-research-net/rdmi/tree/master/3M_Mapping/Reference_data_model_mapping/smartup @MinadakisNikos

[2020-03-10 09:54] #55 closed

[2020-03-10 10:14] ncarboni commented on #60
verified but further problem with the use of uuid

https://github.com/swiss-art-research-net/rdmi/blob/d85dd29eb50f36b874f8fea95e250c69f17a8b98/3M_Mapping/Reference_data_model_mapping/smartup/generator-policy.xml#L59-L62

The problem I foresee here is that is going to change every time and pointing at it it is going to be hard. Did you use this to differentiate between long and short of for other

[2020-03-10 10:17] ncarboni commented on #62
Template was fine. To be added to the carousel and close

[2020-03-10 10:29] ncarboni commented on #51
just quickly added in the mapping and update them in https://github.com/swiss-art-research-net/rdmi/tree/master/3M_Mapping/Reference_data_model_mapping/smartup

[2020-03-10 10:29] #51 closed

[2020-03-10 10:30] ncarboni commented on #52
tested. thanks!

[2020-03-10 10:30] #52 closed

[2020-03-10 11:41] ncarboni commented on #53
Found the issue(s).
It is present only _02_actor_existence_deathDate_p81a/b and _02_actor_existence_birthDate_p81a/b and both they were mapped using the property P82a/b plus use of xsd:date instead of xsd:datetime.

Added
+  _02_actor_existence_deathDate_p82a/b
+ _02_actor_existence_birthDate_p82a/b

Changed
+ the mapping of deathDate P81a/b accordingly to the label of the field
+ the mapping of b

[2020-03-10 13:38] ncarboni opened #68 "Normalised Dates in Group export"
The dates presents in the Group export do look slightly different from each other. Sometimes they do appear as
DD/MM/YYYY
01/01/1692 or 31/12/1692
Other times are
YYYY-MM-DD
1910-12-31

To be harmonised as YYYY-MM-DD
Preferably, we need a datetime (for Metaphacts). To check with @MinadakisNikos @ymark if there is a generator available for it in X3ML to transform YYYY-MM-DD in YYYY-MM-DDTHH:MM:SS (

[2020-03-13 08:53] ymark commented on #61
The XML data for the floruit of persons have been uploaded on GDrive. Please check.

[2020-03-13 08:53] ymark commented on #54
The XML data for the floruit of groups have been uploaded on GDrive. Please check.

[2020-03-16 08:06] ncarboni commented on #61
@ymark cannot find the input XML file. Do you have a link?

[2020-03-16 08:06] ncarboni commented on #54
@ymark cannot find the input XML file. Do you have a link?

[2020-03-16 08:34] ymark commented on #54
Sorry about that. It wasn't uploaded due to an error with my G Drive sync application.
Here it is https://drive.google.com/drive/u/0/folders/1RiC2krbsnVr6Iyk76t_xFWld-jvl-5_1

[2020-03-16 08:35] ymark commented on #61
Sorry about that. It wasn't uploaded due to an error with my G Drive sync application.
Here it is https://drive.google.com/drive/u/0/folders/1RiC2krbsnVr6Iyk76t_xFWld-jvl-5_1

[2020-03-16 09:39] ncarboni commented on #61
Thanks!

Small mods:

+ added frbr prefix (was missing)
+ added the URIwith3TypesAndId in the generator policy
+ added if exists statements (not necessary but the output is more readable)
+ left rdfs:literal for dates because they are currently not in ISO form (to be discussed with @thomashaensli )
+ changed the URI schema in order to have:

event/{UUID}/floruit/
event/{UUID}/floruit/timespan

To

[2020-03-16 09:40] ncarboni commented on #54
Thanks!

Small mods:

+ added frbr prefix (was missing)
+ added the URIwith3TypesAndId in the generator policy
+ added if exists statements (not necessary but the output is more readable)
+ left rdfs:literal for dates because they are currently not in ISO form (to be discussed with @thomashaensli )
+ changed the URI schema in order to have:

event/{UUID}/floruit/
event/{UUID}/floruit/timespan

To

[2020-03-18 11:33] ymark commented on #29
I think we can close this. right?

[2020-03-18 11:34] ymark commented on #19
Do we still need this?

[2020-03-18 13:13] ncarboni opened #69 "Normalise dates for Group and Actor Floruit"
The dates in Actor floruit do not respect the ISO standard.
The dates in the element _export_04_actor_floruit_dateEarliest_p81a for Group Floruit do not respect the ISO standard

To be curated

[2020-03-18 13:16] ncarboni opened #70 "Normalise dates for Person"
The date for Person present in
+ _02_actor_existence_deathDate_p82a
+ _02_actor_existence_birthDate_p82a
+ _02_actor_existence_birthDate_p81a
+ _02_actor_existence_birthDate_p81b

 do not respect the ISO standard. To be curated

[2020-03-19 10:28] ncarboni commented on #29
To be clarified for future versions

[2020-03-19 10:44] thomashaensli commented on #29
1) Current implementation on researchspace.ethz.ch:

FE templating files is implemented in (exapmle grp):
`/root/sari-metaphactory-apps/grp/assets/`
`/root/sari-metaphactory-apps/grp/images/`
`/root/sari-metaphactory-apps/grp/resources/ [com/metaphacts/ui/templates/]`
`/root/sari-metaphactory-apps/grp/shiro-ldap.ini`

Then the directory `/root/sari-metaphactory-apps/grp/`id being mounted into the

[2020-04-01 06:07] ymark commented on #16
The new instance of the platform (for rds) has been deployed at https://rds.swissartresearch.net/.

In order to proceed with the git integration, we have to create the appropriate git repositories.
I suppose that we will create them under https://github.com/swiss-art-research-net. Right?

If so, @ncarboni could you please create the repositories and add us as collaborators? Alternatively, you can

[2020-04-01 10:20] ncarboni commented on #16
@ymark can we just use this repository or it is necessary a specific one just for that?

[2020-04-01 10:34] ymark commented on #16
I guess we can (I do not see emerging conflicts with respect to the current contents of the repository).
We'll create a branch and move on.

Thanks

[2020-04-22 09:27] ncarboni opened #71 "carousel Group"
Carousel group is not present in rds.swissartresearch.net anymore

[2020-06-10 07:24] ncarboni commented on #71
resolved by @ymark

[2020-06-10 07:24] #71 closed

[2020-06-10 07:25] ncarboni commented on #46
I think we can close this

[2020-06-10 07:25] #46 closed

[2020-06-10 07:28] ncarboni commented on #29
@thomashaensli  can we close this?

[2020-06-10 07:30] ncarboni commented on #67
this has been fixed

[2020-06-10 07:30] #67 closed

[2020-06-10 07:33] ncarboni commented on #45
Done. Field are available on google drive and align with current modelling practice in docs

[2020-06-10 07:33] #45 closed

[2020-06-10 07:35] ncarboni commented on #57
Do not how to replicate the error. Closing in the meanwhile

[2020-06-10 07:35] #57 closed

[2020-06-10 07:37] ncarboni commented on #66
If I remember correctly, it has been decided to have an option in the menubar. To be discussed

[2020-06-10 07:40] ncarboni commented on #50
Still, open. To be checked with new mappings and data.

[2020-06-10 07:41] ncarboni commented on #3
@matteoLorenzini should we keep this as an issue ? Can we have it as md in the root for navigational purpose?

[2020-06-10 07:43] ncarboni commented on #49
No solution has been achieved by other modelling group. I would suggest to proceed with this solution. To check with smartUP

[2020-06-10 07:44] ncarboni commented on #40
Seems that keeping the carousel has consensus. Closing it for now. Re-open if needed

[2020-06-10 07:44] #40 closed

[2020-06-10 07:45] ncarboni commented on #62
done, I close

[2020-06-10 07:45] #62 closed

[2020-06-10 07:46] #64 closed

[2020-06-10 07:48] ncarboni commented on #58
We should come back to this sometime soon.

[2020-06-10 07:50] ncarboni commented on #37
alternative: find a library for RDF encoding conversion

[2020-06-10 07:51] ncarboni commented on #19
I close in the meanwhile. Feel free to re-open

[2020-06-10 07:51] #19 closed

[2020-06-10 07:51] ncarboni commented on #26
ETL should be up and running

[2020-06-10 07:51] #26 closed

[2020-06-10 07:51] ncarboni commented on #16
I think we can close this. Feel free to re-open if necessary

[2020-06-10 07:51] #16 closed

[2020-06-10 07:52] ncarboni commented on #15
I think we can close this. Feel free to re-open if necessary

[2020-06-10 07:52] #15 closed

[2020-06-10 07:52] ncarboni commented on #12
can we close this?

[2020-06-10 07:52] ncarboni commented on #14
can we close this?

[2020-06-11 12:25] matteoLorenzini commented on #3
Yes

[2020-06-11 13:25] ncarboni commented on #66
to be added in the header under workspace

[2020-06-11 13:34] ncarboni commented on #41
internal decision first

[2020-06-11 13:43] #28 closed

[2020-06-11 13:54] ncarboni commented on #37
possible in x3ml, depends on the verison of jena in use. @ymark will let us know

[2020-06-11 13:55] ncarboni commented on #42
Smartup to test if possible to use blazegraph api for it.

[2020-06-16 13:45] thomashaensli opened #72 "Add missing UUID for places to data"
as discussed in 2020-06-16 meeting

[2020-06-16 13:45] thomashaensli commented on #72
done, FYI.
Th.

[2020-06-16 13:45] #72 closed

[2020-06-25 12:42] ymark commented on #49
The "L54 is same-as" solution has been adopted for the external identifiers of places.
We've made the following modifications (because of technical limitations):

- Made external URLs (e.g. TGN ones) instances of the class E53_Place. We can change it to something more generic if needed (e.g. E1, rdf:Resource)
- Used P140i instead of P140

We've made the appropriate updates in RDS platform fields a

[2020-06-25 12:45] ymark commented on #66
Links pointing to Data Input forms have been added on menu bar under Workspace.
They're available only for authorized users.

[2020-06-25 12:46] ncarboni commented on #66
great! thanks :-)

[2020-06-25 12:46] #66 closed

[2020-07-10 10:12] ncarboni commented on #37
to investigate with @ymark  the possibility to use RDF*
Extension for apache jena here https://github.com/RDFstar/RDFstarTools

[2020-07-20 07:52] ncarboni opened #73 "External fields for Place"
List of external fields for Places to retrieve from Wikidata and Getty

Wikidata fields:

- label@en
- description@en
- inception (P571)
- country (P17)
- located in the administrative territorial entity (P131)

Getty fields:

- preflabel (skos:prefLabel)
- scopenote value (```skos:scopeNote ?scopenote
?scopenote a gvp:ScopeNote
	rdf:value ?value```)
- altlabel (skos:altLabel)
- parent string (gvp

[2020-07-20 08:25] thomashaensli commented on #73
In view of our multi-linguality claim, I would propose to go also for wikiData

- description@de
- description@fr
- description@it

However, this night also just unveil the weird data in Wikidata, but it could be worth while trying.

What do you think?

[2020-07-20 08:28] ncarboni commented on #73
yes, also label@de,it,fr
However would love to find a way to visualise them in a single block (as the external identifier in the main entity for example). Let's discuss it with @ymark

[2020-09-09 05:41] ncarboni opened #74 "New page"
Feedback on the new [page structure](https://rds.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2Fdebb2cce-9ab9-4f68-8782-efea2ed5e152) example.

UI: generally speaking: it is great. I would add more space between different type of elements (using the category of the RDM), but that can be done later on without any problem

Information: the information about

[2020-09-09 18:06] ncarboni opened #75 "Nationalities data"
The UUID of the nationalities in the new data do not correspond to the [vocabulary loaded in the system](https://github.com/swiss-art-research-net/vocab/tree/master/nationalities)
To check where the problem reside.
Example available here: https://rds.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2Fdebb2cce-9ab9-4f68-8782-efea2ed5e152

[2020-09-29 07:22] ncarboni commented on #74
@ymark

[2020-09-29 07:23] ncarboni commented on #49
@ymark to double check

[2020-09-29 07:26] ncarboni commented on #58
to use a reverse proxy configuration. To check internally if needed

[2020-09-29 07:27] ncarboni commented on #53
To be verified in the new data

[2020-09-29 07:27] ncarboni commented on #54
To be verified in the new data

[2020-09-29 07:27] ncarboni commented on #60
To be verified in the new data

[2020-09-29 07:27] ncarboni commented on #61
To be verified in the new data

[2020-09-29 07:28] ncarboni commented on #50
To double check when all the data are there.

[2020-09-29 07:32] ncarboni opened #76 "Eliminate Demo from title page"
The homepage is called demo. To change in "Home"
To find a way to retain the current structure and not break any links.

[2020-09-29 07:58] #37 closed

[2020-09-29 07:59] ncarboni opened #77 "JSON-LD access"
Access to json-ld from SPARQL endpoint

[2020-09-29 07:59] ncarboni commented on #77
Possible solution
 + (@matteoLorenzini ) access it by glazegraph
 + modify YASGUI?

To define what is needed

[2020-10-28 13:28] ncarboni commented on #58
Reverse proxy on apache in order to use the URI of the resource as the URL of the page that visualise information about the resource.
E.g.
https://rds.swissartresearch.net/resource/?uri=https%3A%2F%2Fresource.swissartresearch.net%2Fperson%2FFB8A59A2-5B6D-459F-98F0-3E5736BB8AB5
should be visible starting from this URL:
https://resource.swissartresearch.net/person/FFB8A59A2-5B6D-459F-98F0-3E5736BB8A

[2020-10-28 13:37] ncarboni opened #78 "Export fields/templates from MPH to RS"
Create mechanism (API or other) for exporting and importing templates and fields between RS and MPH.

1. Create export from MPH of all the fields/templates and pack them to be uploaded on RS.
 The process should/could use GitHub as export location. Github could be further use for automatically upload templates/fields on RS.

If implemented the process should be automatise and scheduled using gener

[2020-10-28 13:42] ncarboni commented on #77
Explore possibility to obtain JSON-LD complaint data from SPARQL query over YASGUI/Blazegraph

[2020-11-02 15:04] ncarboni commented on #78
@matteoLorenzini